/*Обнуление*/
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}
/*--------------------*/

$pdd: 9vw;

h1 {
  position: relative;
  font-family: Formular_Regular;
  font-size: 1.3vw;
  letter-spacing: -1px;
  padding: 2vw 0 0 2vw;
}
p {
  position: relative;
  font-family: Formular_Regular;
  font-size: 2.2vw;
  letter-spacing: -1px;
  padding-left: $pdd;
  width: 75vw;
}
h2 {
  position: relative;
  font-family: Formular_Regular;
  font-size: 4vw;
  letter-spacing: -1px;
  padding-left: 9vw;
}
h3 {
  position: relative;
  font-family: Formular_Regular;
  font-size: 8vw;
  letter-spacing: -1px;
  padding-left: 9vw;
}
h4 {
  position: relative;
  font-size: 5vw;
  letter-spacing: -1px;
  padding-left: 9vw;
}
h5 {
  position: relative;
  font-size: 1.5vw;
  letter-spacing: -1px;
  padding-left: 9vw;
}

.left_bar {
  width: 15%;
  height: 100%;
  position: fixed;
  background-color: white;
  border-right: 2px solid #FC4A27;
    a {
      font-family: Formular_Regular;
      color: #281915;
      font-size: 1.45vw;
      text-decoration: none;
      letter-spacing: -1px;
      margin-left: 2.5vw;
      position: absolute;
      bottom: 0;
    }
    a:hover {
      color: #FC4A27;
      transition: all .3s;
    }
    li {
      position: relative;
      height: 2.4vw;
      // border-bottom: 2px solid #8EA5EB;
    }
    img {
      position: absolute;
      margin-left: 16%;
      margin-top: 19.7vw;
      height: 6.5vw;
    }
    .hrs {
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      hr {
        height: 0px;
        width: 100%;
        border: 1px solid #8EA5EB;
        display: block;
        margin-top: 2.3vw;
      }
    }
  }
.first_page {
    position: relative;
    height: 50vw;
    margin-left: 15%;
    background-color: #E2B8E6;
      img {
        position: absolute;
      }
      ._1 {
        height: 8vw;
        top: 1vw;
        right: 6vw;
        transform: rotate(5deg);
      }
      ._2 {
        right: 16vw;
        top: 6vw;
        height: 8vw;
        transform: rotate(-15deg);
      }
      ._3 {
        right: 28vw;
        top: 7vw;
        height: 41vw;
      }
  }
.second_page {
    position: relative;
    margin-left: 15%;
    h1 {
      color: #FC4A27;
    }
    p {
      color: #000000;
    }
    h2 {
      display: inline-block;
      line-height: 1.3;
      margin-top: -2vw;
    }
    & :last-child {
      padding-bottom: 2vw;
    }
  }
.third_page {
    position: relative;
    margin-left: 15%;
    background-color: #F4ECE1;
    h1 {
      color: #FC4A27;
    }
    .logos_size {
      margin-left: $pdd;
      h1 {
        padding: 2vw 0 0 0;
        text-align: center;
      }
      .the_biggest {
        display: inline-block;
        img {
          height: 40vw;
        }
      }
      .medium {
        margin-left: 4.5vw;
        display: inline-block;
        img {
          height: 20vw;
        }
      }
      .the_smallest {
        margin-left: 4.5vw;
        display: inline-block;
        img {
          height: 10vw;
        }
      }
    }
    > img {
      margin: 1vw 0 0 $pdd;
      height: 30vw;
    }
    .okhrannoye_pole_inversia img {
      padding: 1vw 0 0 $pdd;
    }
    .okhrannoye_pole, .inversia {
      display: inline-block;
    }
    .okhrannoye_pole img {
      height: 34vw;
    }
    .inversia {
      margin-left: 8vw;
      img {
        height: 30vw;
      }
    }
    .ogranicheniya {
      margin: 1vw 0 0 $pdd;
      padding-bottom: 2vw;
      div {
        display: inline-block;
        margin-right: 5vw;
      }
      p {
        padding-left: 0;
        width: 5vw;
      }
      img {
        height: 16vw;
      }
    }
  }
.fourth_page {
    position: relative;
    margin-left: 15%;
    h1 {
      color: #FC4A27;
    }
    .colors1, .colors2 {
      display: flex;
      justify-content: flex-end;
      margin-right: 7.5vw;
      h1 {
        text-align: center;
        padding: 0;
        color: #281915;
      }
    }
    .color1, .color2, .color3, .color4,.color5, .color6 {
      display: inline-block;
      margin-left: 2vw;
    }
    .helium_pen_black, .peanut_butter, .pepper_red, .plum_purple, .blueberry_blue, .highlighter {
      border-radius: 100%;
      height: 14vw;
      width: 14vw;
      margin-top: 1vw;
    }
    .helium_pen_black {background-color: #281915;}
    .peanut_butter {background-color: #F4ECE1;}
    .pepper_red {background-color: #FC4A27;}
    .plum_purple {background-color: #E2B8E6;}
    .blueberry_blue {background-color: #8EA5EB;}
    .highlighter {background-color: #E8FF4C;}
    .colors3 {
      display: flex;
      margin: 1vw 0vw 0vw 9vw;
      width: 68vw;
      div {
        display: inline-block;
      }
      h1 {
        text-align: center;
        padding: 1vw 0 0 0;
      }
      .pepper_red_rectangle {
        background-color: #FC4A27;
        height: 5vw;
        width: 100%;
        border-radius: 3vw 3vw 0 0;
      }
      .pepper_red_20 {
        flex-grow: 2;
      }
      .plum_purple_rectangle {
        background-color: #E2B8E6;
        height: 5vw;
        width: 100%;
        border-radius: 3vw 3vw 0 0;
      }
      .plum_purple_20 {
        flex-grow: 2;
      }
      .blueberry_blue_rectangle {
        background-color: #8EA5EB;
        height: 5vw;
        width: 100%;
        border-radius: 3vw 3vw 0 0;
      }
      .blueberry_blue_20 {
        flex-grow: 2;
      }
      .highlighter_rectangle {
        background-color: #E8FF4C;
        height: 5vw;
        width: 100%;
        border-radius: 3vw 3vw 0 0;
      }
      .highlighter_20 {
        flex-grow: 2;
      }
      .peanut_butter_rectangle {
        background-color: #F4ECE1;
        height: 5vw;
        width: 100%;
        border-radius: 3vw 3vw 0 0;
      }
      .peanut_butter_10 {
        flex-grow: 1;
      }
      .helium_pen_black_rectangle {
        background-color: #281915;
        height: 5vw;
        width: 100%;
        border-radius: 3vw 3vw 0 0;
      }
      .helium_pen_black_10 {
        flex-grow: 1;
      }
    }
  }
.fifth_page {
  position: relative;
  margin-left: 15%;
  background-color: #8EA5EB;
  h1 {
    color: #F4ECE1;
  }
  img {
    margin-left: $pdd;
    margin-top: 1vw;
  }
  .v_formate3 {
    margin-left: 1vw;
    margin-bottom: 2vw;
  }
  .typeface1 {
    margin-bottom: 2vw;
    h1, h3, p {
      color: #F4ECE1;
    }
    .left, .right {
      display: inline-block;
    }
    .left {
      width: 41.5vw;
    }
    .right {
      margin-left: 5vw;
      width: 30vw;
      text-align: right;
      h1 {
      max-width: 27vw;
      padding: 0;
      }
    }
  }
  .typeface2 {
    margin-bottom: 2vw;
    h1, h3, p {
      font-family: _21Cent_Regular;
      font-style: italic;
      color: #F4ECE1;
    }
    .left, .right {
      display: inline-block;
    }
    .left {
       width: 41.5vw;
    }
    .right {
      width: 30vw;
      text-align: right;
      margin-left: 5vw;
      h1 {
      max-width: 27vw;
      padding: 0;
      }
    }
  }
  .typeface3, .typeface4 {
    margin-bottom: 2vw;
    h3, h4, p, h5 {
      color: #F4ECE1;
    }
    .left, .right {
      display: inline-block;
    }
    .left {
      width: 50vw;
    }
    .right {
      width: 24vw;
      text-align: right;
    }
  }
  .typeface2, .typeface4 {margin-bottom: 0;}
}
.sixth_page {
  position: relative;
  margin-left: 15%;
  background-color: #E8FF4C;
  .grid1 {
    width: 60vw;
    margin-left: $pdd;
      h1 {
        padding: 2vw 0 0 0;
        text-align: center;
      }
      .arrow1, .arrow2 {
        display: inline-block;

        img {
            width: 2vw;
        }
        h1 {
          padding: 0;
          text-align: center;
        }
      }
      .arrow2 {
          margin-left: 5vw;
      }
  }
  .grid2, .grid3 {
    display: inline-block;
    h1 {
      padding: 2vw 0 1vw 0;
    }
    img {
      width: 29.3vw;
    }
  }
  .grid2 {
    margin-left: $pdd;
    margin-bottom: 2vw;
  }
  .grid3 {
    margin-left: 1vw;
  }
}
.seventh_page {
  position: relative;
  margin-left: 15%;
  background-color: #FC4A27;
  h1 {
    color: #F4ECE1;
  }
  .horizontal_schemes, .vertical_schemes, .square_schemes {
    width: 65vw;
    margin: 1vw 0 0 $pdd;
    img {
      display: inline-block;
      width: 31vw;
    }
  }
  .square_schemes {
    padding-bottom: 3vw;
  }
}
.eighth_page {
  position: relative;
  margin-left: 15%;
  background-color: #F4ECE1;
  h1 {
    color: #FC4A27;
  }
  .picture_examples1 {
    width: 70vw;
    margin: 2vw 0 0 $pdd;
    .picture_example1, .picture_example2, .picture_example3, .picture_example4 {
      display: inline-block;
      width: 32.5vw;
    }
    .picture_example1 {
      img {
        width: 20vw;
        border-radius: 1vw;
        display: inline-block;
      }
      .color_examples1 {
        display: inline-block;
        margin-left: 1vw;
      }
      ._1color, ._2color, ._3color, ._4color {
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
      }
      ._1color {background-color: #F56123}
      ._2color {background-color: #E4B077}
      ._3color {background-color: #530802}
      ._4color {background-color: #E60C00}
    }
    .picture_example2 {
      margin-left: 1vw;
      img {
        width: 20vw;
        border-radius: 1vw;
        display: inline-block;
      }
      .color_examples1 {
        display: inline-block;
        margin-left: 1vw;
      }
      ._1color, ._2color, ._3color, ._4color {
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
      }
      ._1color {background-color: #53A3FA}
      ._2color {background-color: #1C5DBB}
      ._3color {background-color: #0C3C8E}
      ._4color {background-color: #3178E0}
    }
    .picture_example3 {
      margin: 1vw 0 2vw 0;
      img {
        width: 20vw;
        border-radius: 1vw;
        display: inline-block;
      }
      .color_examples1 {
        display: inline-block;
        margin-left: 1vw;
      }
      ._1color, ._2color, ._3color, ._4color {
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
      }
      ._1color {background-color: #A6588C}
      ._2color {background-color: #74629E}
      ._3color {background-color: #623459}
      ._4color {background-color: #B28ECE}
    }
    .picture_example4 {
      margin: 1vw 0 2vw 1vw;
      img {
        width: 20vw;
        border-radius: 1vw;
        display: inline-block;
      }
      .color_examples1 {
        display: inline-block;
        margin-left: 1vw;
      }
      ._1color, ._2color, ._3color, ._4color {
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
      }
      ._1color {background-color: #47B80E}
      ._2color {background-color: #258A0A}
      ._3color {background-color: #B4DF69}
      ._4color {background-color: #79C82F}
    }
  }
  .picture_examples2 {
    width: 70vw;
    margin: 2vw 0 0 $pdd;
    padding-bottom: 2vw;
    img {
      width: 54vw;
      border-radius: 1vw;
      display: inline-block;
    }
    .color_examples1 {
      display: inline-block;
      margin-left: 1vw;
    }
    ._1color, ._2color, ._3color, ._4color, ._5color {
      height: 7vw;
      width: 7vw;
      border-radius: 50%;
    }
    ._1color {background-color: #454F12}
    ._2color {background-color: #9E8149}
    ._3color {background-color: #7E8710}
    ._4color {background-color: #9E2508}
    ._5color {background-color: #E4CB28}
  }
}
.ninth_page {
  position: relative;
  margin-left: 15%;
  background-color: #E2B8E6;
  h1 {
    color: #F4ECE1;
  }
  img {
    margin: 1vw 0 0 $pdd;
    width: 31vw;
  }
}
.tenth_page {
  position: relative;
  margin-left: 15%;
  background-color: #E8FF4C;
  h1 {
    color: #FC4A27;
  }
  .images {
    padding: 2vw 0 3vw $pdd;
    width: 75vw;
    height: 35vw;
    position: relative;
    img {
      position: absolute;
      width: 55%;
    }
  }
}
.eleventh_page {
  position: relative;
  margin-left: 15%;
  background-color: white;
  h1 {
    color: #FC4A27;
  }
}
